.card-body.sls{
  width:20em;
} 
.card.direct-chat.direct-chat-primary {
  width: 45em;
} 
canvas#pie-chart0 { 
  width: 565px !important;
  height: 565px !important;
} 
a.canvasjs-chart-credit {
  display: none;
} 
canvas#chartss {
  height: 545px !important;
  width: 545px !important;
} 
nav.main-header.navbar.navbar-expand.navbar-white.navbar-light {
margin-top:-2em;
} 
.content-wrapper {
  background-color: #823f6f;
  color: #f8f9fa;
} 

h1.m-0.text-dark { 
  color: #f8f9fa !important;
} 
.col-lg-3.col-6 {
  margin-left: 2em;
} 
.card-body.ls1 {
  width: 38em;
} 
h3.card-title {
  color: black;
} 
aside.main-sidebar.sidebar-dark-primary.elevation-4 {
  background-color: #29231c;
 
}